html {
  width: 100%;
  height: auto;
  background: url(./img/background-index.jpg) no-repeat center center fixed #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#return-url {
  font-size: 20px;
}

h1 {
  font-family: "Norse";
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

.recipe-title {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-top: 0;
}

.recipe-title {
  font-family: "Norse";
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-top: 0;
}

.index-image-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}

.index-image-row img {
  height: 400px;
  width: auto;
  border: solid black;
  border-radius: 20px;
  position: relative;
}

.index-image-column:hover img {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

/* Cookies, Pancakes & Pizza HTML files */

.recipes-row {
  display: flex;
  margin-right: 300px;
}

.recipes-column img {
  height: 450px;
  width: auto;
  border: solid black;
  border-radius: 20px;
  margin-top: 100px;
}

.recipes-column {
  flex: auto;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  margin-left: 100px;
  font-weight: 1000px;
}

/* import Norse font */
@font-face {
  font-family: "Norse";
  src: url(./resources/Norse.otf);
}

/* Juan Parra logo properties */
.autor img {
  height: 65px;
  width: auto;
}

.autor {
  font-family: "Norse";
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 0;
}
